/* Add CSS Styling */

p {
    background-color: rgb(255, 192, 203);
    font-size: 16px;
    font-family:'dejaVu sans', verdana, sans-serif;
    color: #000000;
   
}

.alert-text {
    font-size: 24px;

}

#title {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: 	#0000ff;

}

#subtitle {
    background-color: rgb(144, 238, 144) ;
    font-size: 24px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;


}