body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 5px;
  margin: auto;
}

.title {
  background: #e3f4ff;
  padding-block: 10px;
  padding-inline: 5px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding-block: 10px;
  padding-inline: 5px;

  font-size: 16px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-block: 5px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* New styles for flex container and boxes */
.flex-container {
  display: flex;
  background-color: lightpink;
  justify-content: center; /* Center boxes horizontally within the container */
  align-items: center; /* Center boxes vertically within the container */
  gap: 10px; /* Optional: add space between boxes */
  height: 400px;
  width: 600px; 
  padding: 10px;
}

.flex-container div {
  font-size: 20px;
  text-align: center;
  border: 4px solid black;
  width: 250px;
  height: 100px;
  margin-top: 10px;
  flex: 1, 1, auto;/* Allow boxes to grow and shrink equally, based on width/height prop */
}

.flex-container .box1 {
  background-color: lightcoral;
 

}

.flex-container .box2 {
  background-color: lightseagreen;
  
  
}

.flex-container .box3 {
  background-color: lightblue;
 
  
}