body {
  font-family: Arial, Helvetica, sans-serif; /* This rule will be overridden by the * selector below */
}
* {
  background-color: rgb(216, 163, 46) ;
  color: rgb(255, 255, 255);
  font-family: Verdana, Tahoma, sans-serif; /* Font family applied to whole page cause inherit */
  font-weight: 400;
  font-size: 12px ;
}
/* This * selector will apply those rules to the whole html page IF there's no other rules; which there are below*/

.para,
.button,
.text,
.child {
  font-family: Arial, Helvetica, sans-serif; /* Overriding the font family from the * selector */
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
}


.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  }

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 


.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

